##### p1_ex1

In [ ]:
t1=()
print(t1)
print(type(t1))

In [ ]:
t2=(1,)
print(t2)
print(type(t2))

In [ ]:
t3=(1,2,3)
print(t3)
print(type(t3))

In [ ]:
t4 = 1,2,3
print(t4)
print(type(t4))

In [1]:
t5 = ('a', 'b', ("ab", "cd"))
print(t5)
print(type(t5))
print(t5[2])

('a', 'b', ('ab', 'cd'))
<class 'tuple'>
('ab', 'cd')

##### p1_ex2

In [2]:
tu = 2,
print(type(tu))
print(tu)

<class 'tuple'>
(2,)

##### p1_ex3

In [5]:
#p1_ex3-1
tu = 1,2,3,4,5

print(tu[3])
print(tu[1:4])
print(tu + (6, 7))
print(tu * 2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [8]:
#p1_ex3-2
tu[1] = 100
print(tu)

TypeError: 'tuple' object does not support item assignment

In [9]:
del tu[1]

TypeError: 'tuple' object doesn't support item deletion

##### p1_ex4

In [11]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

##### p1_ex5

In [1]:
a = 12
b = 34
print(a, b)

t=a
a=b
b=t

print(a, b)

12 34
34 12

In [2]:
#p1_ex5-1
a = 12
b = 34
print(a, b)

a,b=b,a
print(a,b)

12 34
34 12

##### p2_ex7

In [3]:
d, m = divmod(7,3)
print("몫", d)
print("나머지", m)

몫 2
나머지 1

##### p2_ex8

In [7]:
score = [88, 95, 70, 100, 99]
print(type(score))
tu=tuple(score)
print(tu)
print(type(tu))
li=list(tu)
li=list(tu)
print(type(li))

<class 'list'>
(88, 95, 70, 100, 99)
<class 'tuple'>
<class 'list'>

##### p2_ex9

In [9]:
#p2_ex9-1
dic = {"boy" : "소년", "school" : "학교", "book" : "책"}
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [14]:
#p2_ex9-2
print(dic["boy"])
print(dic["school"])
print(dic["girl"])

소년
학교

KeyError: 'girl'

In [15]:
#p2_ex9-3
dic = {"boy" : "소년", "school" : "학교", "book" : "책"}
dic["boy"]="남자아이"
dic["girl"]="여자아이"

print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

In [17]:
#p2_ex9-4
dic = {"boy" : "소년", "school" : "학교", "book" : "책"}

del dic["boy"]
del dic["book"]
print(dic)

{'school': '학교'}

##### p2.5_ex10

In [18]:
#p2_ex10-1
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}
print(dictionary)

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}

In [20]:
#p3_ex10-2
print("name:", dictionary["name"])
print("type:", dictionary["type"])
print("ingredient:", dictionary["ingredient"])
print("origin:", dictionary["origin"])

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

In [21]:
#p3_ex10-3
dictionary["name"] = "8D 건조 망고"
dictionary["price"] = 5000
del dictionary["ingredient"]
print(dictionary)

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

##### p3_ex11

In [22]:
animation = {}

print("요소 추가 이전:", animation)

animation["작가"] = "황미나"
animation["연재작"] = "이오니아의 푸른 별"
animation["최근작"] = "보톡스"

print("요소 추가 이후:", animation)

del animation["연재작"]
print("요소 제거 이후:", animation)

요소 추가 이전: {}
요소 추가 이후: {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거 이후: {'작가': '황미나', '최근작': '보톡스'}

##### p3_ex12

In [24]:
rainbow = {"빨강": "red", "주황": "orange", "노": "yellow", "초": "green", "파": "blue","남": "navy", "보": "purple"}

print("초록색=", rainbow["초"])

rainbow["흰"]="white"
rainbow["주황"]="juhwang"
del rainbow["파"]

print(rainbow)

초록색= green
{'빨강': 'red', '주황': 'juhwang', '노': 'yellow', '초': 'green', '남': 'navy', '보': 'purple', '흰': 'white'}

##### p3_ex13

In [25]:
li = [["boy", "소년"], ["school", "학교"], ["book", "책"]]
dic = dict(li)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

##### p4_ex14

In [32]:
dic = {"boy": "소년", "school": "학교", "book": "책"}
print(dic.keys())
print(type(dic.keys()))
print(dic.values())
print(type(dic.values()))
print(dic.items())
print(type(dic.items()))

dict_keys(['boy', 'school', 'book'])
<class 'dict_keys'>
dict_values(['소년', '학교', '책'])
<class 'dict_values'>
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])
<class 'dict_items'>

##### p4_ex15

In [31]:
dic = {"boy": "소년", "school": "학교", "book": "책"}
print(dic.get("boy"))
print(dic.get("student"))
print(dic.get("student", "사전에 없는 단어입니다."))

소년
None
사전에 없는 단어입니다.

##### p4_ex16

In [38]:
#p4_ex16-1
dic = {"boy": "소년", "school": "학교", "book": "책"}
dic2= {"student": "학생", "teacher": "선생님", "book": "서적"}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [35]:
#p4_ex16-2
dic = {"boy": "소년", "school": "학교", "book": "책"}
dic.update(student="학생", boy = "남자아이")
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'student': '학생'}

##### ++

In [50]:
dic = {"boy": "소년", "school": "학교", "book": "책"}
print(dic)
dic1 = sorted(dic)
print(dic1)

{'boy': '소년', 'school': '학교', 'book': '책'}
['book', 'boy', 'school']

In [55]:
dic2=sorted(dic.keys())
print(dic2)

['book', 'boy', 'school']

In [56]:
dic5=sorted(dic.keys(), reverse=True)
print(dic5)

['school', 'boy', 'book']

In [53]:
dic3=sorted(dic.values())
print(dic3)

['소년', '책', '학교']

In [57]:
dic6=sorted(dic.values(), reverse=True)
print(dic6)

['학교', '책', '소년']

In [54]:
dic4=sorted(dic.items())
print(dic4)

[('book', '책'), ('boy', '소년'), ('school', '학교')]

In [59]:
dic7=sorted(dic.items(), reverse=True)
print(dic7)

[('school', '학교'), ('boy', '소년'), ('book', '책')]

In [60]:
import operator
dic8=sorted(dic.items(), key=operator.itemgetter(1))
print(dic8)

[('boy', '소년'), ('book', '책'), ('school', '학교')]

In [61]:
dic9=sorted(dic.items(), key=operator.itemgetter(1), reverse=True)
print(dic9)

[('school', '학교'), ('book', '책'), ('boy', '소년')]

In [65]:
dic10=sorted(dic.items(), key=operator.itemgetter(1), reverse=True)[0]
print(dic10)

('school', '학교')

##### p4_ex17

In [45]:
#p4_ex17-1
dic = {"boy":"소년", "school": "학교", "book": "책"}
for key in dic.keys():
    print(key)

boy
school
book

In [43]:
#p4_ex17-2
dic = {"boy":"소년", "school": "학교", "book": "책"}
for value in dic.values():
    print(value)

소년
학교
책

In [47]:
#p4_ex17-3
dic = {"boy": "소년", "school": "학교", "book": "책"}
for item in dic.items():
    print(item)

('boy', '소년')
('school', '학교')
('book', '책')

##### p4_ex18

In [48]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

for key in dictionary:
    print(key, ':', dictionary[key])

name : 7D 건조 망고
type : 당절임
ingredient : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin : 필리핀

##### p4_ex19

In [62]:
pets = [{"name": "구름", "age": 5},
    {"name": "초코", "age": 3},
    {"name": "아지", "age": 1},
    {"name": "호랑이", "age": 1},
]

print("# 우리 동네 애완 동물들 #")
for pet in pets:
    print(pet["name"], pet["age"], "살")

# 우리 동네 애완 동물들 #
구름 5 살
초코 3 살
아지 1 살
호랑이 1 살

##### p4_ex20

In [67]:
dic = {"boy": "소년", "school": "학교", "book": "책"}
if "student" in dic:
    print("사전에 있는 단어입니다.")
else:
    print("이 단어는 사전에 없습니다.")

사전에 있는 단어입니다.

##### p5_ex21

In [69]:
numbers=[1,2,3,4,5,6,7,8,9,5,1,7,3,5,1,3,5,7,9]
count={}
for number in numbers:
    if number in count:
        count[number]=count[number]+1
    else:
        count[number]=1
print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 7: 3, 8: 1, 9: 2}

##### p5_ex22

In [82]:
song = """by the rivers of babylon """

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c in alphabet:
        alphabet[c] = alphabet[c]+1
    else:
        alphabet[c] = 1
print(alphabet)

{'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}

##### p5_ex23

In [80]:
key = list(alphabet.keys())
key.sort()
for c in key:
    num = alphabet[c]
    print(c, "=>", num)

a => 1
b => 3
e => 2
f => 1
h => 1
i => 1
l => 1
n => 1
o => 2
r => 2
s => 1
t => 1
v => 1
y => 2

##### p5_ex24

In [81]:
for code in range(ord('a'), ord('z')+1):
    c = chr(code)
    num = alphabet.get(c, 0)
    print(c, "=>", num)

a => 1
b => 3
c => 0
d => 0
e => 2
f => 1
g => 0
h => 1
i => 1
j => 0
k => 0
l => 1
m => 0
n => 1
o => 2
p => 0
q => 0
r => 2
s => 1
t => 1
u => 0
v => 1
w => 0
x => 0
y => 2
z => 0

##### p5_ex25

In [84]:
영어={"10/30":"단어 10개 암기", "11/1":"조별 모임"}
정보={"10/11":"알고리즘 설계", "11/1":"프로그램 제출"}
수학={"10/11":"도형 문제 풀기", "10/30":"통계 조사하기"}
음악={"11/1":"조별 모임", "11/7":"노래 개사"}

일자=input("무슨 과제가 있는지 검색하려는 날짜를 입력하세요. (월/일) : ")
print(일자, "해야 할 일")
if 일자 in 영어:
    print("영어 숙제 :", 영어[일자])
else:
    print("영어 숙제 : 없음")
if 일자 in 정보:
    print("정보 숙제 :", 정보[일자])
else:
    print("정보 숙제 : 없음")
if 일자 in 수학:
    print("수학 숙제 :", 수학[일자])
else:
    print("수학 숙제 : 없음")
if 일자 in 음악:
    print("음악 숙제 :", 음악[일자])
else:
    print("음악 숙제 : 없음")

11/7 해야 할 일
영어 숙제 : 없음
정보 숙제 : 없음
수학 숙제 : 없음
음악 숙제 : 노래 개사